# ignore all env directories that are created upon library installation
env/*

# except env file
!env/kml.env

# ignore all output
output*/*

# ignore all input
input/*

# ignore all logs
log/*

# ignore random files created during execution
trash
dfCLD*

# ignore ipynb related metadata
*.ipynb*

